@font-face {
  font-family: SocialIco;
  src: url("fonts/Socialico.ttf");
}

*{
	margin: 0;
	padding: 0;
}
html, body{
	font-family: ArialMT;
	font-size: 16px;
	line-height: 24px;
}

.wrapper{
	width: 1280px;
	margin:0 auto;
}
h1{
	font-size: 60px;
	font-weight: 400;
	margin-bottom: 45px;
	line-height: 70%;
}
h2{
	color: #445161;
	font-size: 30px;
	font-weight: 400;
}
.flex-container{
	display: flex;
	justify-content: space-between;
}
.clearfix:after{
	display: block;
	content: '';
	clear: both;
}
.padding-site{
	padding: 50px;
}

header{
	background-color: #445162;
	height: 323px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #fff;
	display: flex;
	justify-content: space-between;
}

.header-picture{
	width: 469px;
	height: 214px;
	background-image: url('	https://placeimg.com/470/215/nature');
}
.header-info-list{
	font-size: 20px;
	
	font-weight: 400;
	margin-left: 36px;
	list-style-type: none;
}
.header-info-list li{
	position: relative;
	line-height: 36px;
}
.header-info-list li:before{
	display: block;
	content:'\f00c';
	position: absolute;
	font-family: FontAwesome;
	left:-30px;
	width: 25px;
	height: 19px;
}

.about{
	height: 345px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.about-info-picture{
	width: 430px;
	height: 245px;
	background-color: #445161;
	float: right;
	margin-left: 101px;
}
.about-info-text{
	margin-top: 25px;
	width: 650px;
}
.about-info-text p{
	margin-bottom: 20px;
}

 .pluses{
 	background-color: #f5f5f5;
 }
 .pluses h2{
	text-align: center;
}
 .pluses .flex-container:not(:first-of-type){
 	margin-top: 35px;
 }
 .pluses-item{
 	list-style-type: none;
 	width:calc(50% - 8px);
	float:left;
	margin-top: 35px;
 }
 .pluses-item:nth-child(even){
 	margin-right:16px;
 }
 .pluses-item p{
 	width: 526px;
 	display: inline-block;
 }
 .plus-picture{
	position: relative;
	width: 32px;
	height: 32px;
	background-color: #445161;
	display: inline-block;
	margin-right: 9px;
	margin-top: 5px;
	vertical-align: top;
}
.plus-picture:before, .plus-picture:after{
	position: absolute;
	content: '';
	display: block;	
	background-color: #fff;
}
.plus-picture:before{	
	width: 20px;
	height: 4px;
	top:14px;
	left:6px;
}
.plus-picture:after{
	width: 4px;
	height: 20px;
	top:6px;
	left:14px;
}


.scrinshots-item{
	margin-top: 30px;
	width:calc(50% - 8px);
	float:left;
}
.scrinshots-item:nth-child(even){
	margin-right: 16px;
}
.scrinshots h2{
	text-align: center;
}
.scrinshot-picture{
	float: left;
	width: 200px;
	height: 150px;
	margin-right: 15px;
}

.reviews{
	background-color: #f5f5f5;
}
.reviews h2{
	text-align: center;
	margin-bottom: 35px;
}

.reviews-item{
	margin-top: 24px;
	width:calc(50% - 16px);
	float:left;
}
.reviews-item:nth-child(even){
	margin-right: 32px;
}
.reviews-photo{
	width: 75px;
	height: 75px;
	background-color: #445161;
	border-radius:50%;
	float:left;
	
}
.reviews-text{
	width: 480px;
	background-color: #ebebeb;
	margin-left: 101px;
	padding: 27px 16px 20px 16px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
}
.reviews-text:before{
	position: absolute;
	display: block;
	content: '';
	width: 20px;
	height: 20px;
	background-color: #ebebeb;
	transform: rotate(45deg);
	left:-10px;
	top:35px;
}
.reviews-text p{
	font-size: 14px;
line-height: 18px;
font-style: italic;
}

.reviews-text .reviews-text-sign{
	color: #989898;
	font-style:normal;
	margin-top: 15px;
}

.offers{
	padding-left: 145px;
	padding-right: 145px;

}
.offers h2{
	text-align: center;
	margin-bottom: 29px;
}
.offers .flex-container{
	align-items: flex-end;
}
.offers-item{
	width: 300px;
	background-color: #445162;
	border-radius:5px;
}
.offers-h3{
	font-size: 24px;
line-height: 30px;
color: #ffffff;
margin-bottom: 15px;
margin-top: 15px;
text-align: center;
font-weight: 400;
}
.offers-price{
	height: 70px;
	line-height: 70px;
	width: 296px;
	background-color: #fff;
	text-align: center;
	font-size: 40px;
color: #445162;
margin:0 auto;
margin-bottom: 19px;

}
.offers-options{
	font-size: 14px;
line-height: 24px;
color: #ffffff;
margin-left: 20px;
list-style-position:inside;
}

.offers-button{
	display: block;
width: 260px;
height: 40px;
background-color: #fff;
text-align: center;
font-size: 18px;
line-height: 40px;
font-weight: 700;
color: #445161;
margin:20px auto;
border-radius:5px;
text-decoration: none;
}

footer{
	background-color: #445162;
	padding: 50px 245px 50px 250px;
}
footer h2{
	text-align: center;
	color:#fff;
	margin-bottom: 30px;
}
footer div{
	margin-bottom: 18px;
	color:#fff;
}
footer a{
	text-decoration: none;
	color:#fff;
}
footer img{
	vertical-align: middle;
	margin-right: 8px;
}
footer form{
	width: 500px;
	float: left;
	text-align: center;
	margin-right: 45px;
}
footer input{
	height: 40px;
	width:100%;
	background-color: #fff;
	border-radius:5px;
	outline:none;
	margin-bottom: 20px;
	padding: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border:none;
	font-size: 16px;
	font-family: ArialMT;
	color: #445162;
}
									
footer textarea{
	background-color: #fff;
	height: 170px;
	width:100%;
	border-radius:5px;
	padding: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border:none;
	font-size: 16px;
	font-family: ArialMT;
	color: #445162;
	margin-bottom: 20px;
}
.button{
	width: 140px;
	height: 40px;
	background-color: #fff;
	color: #445162;
	font-weight: 700;
	line-height: 24px;
	cursor: pointer;
	margin-bottom: 0;
}
.footer-info{
	font-style: normal;
	float: right;
}
.social{
	font-family: SocialIco, sans-serif;
  color: #ffffff;
  font-size: 60px;
  line-height: 44px;
  margin-top: 35px;
}
.copy {
    height: 26px;
    text-align: center;
    color: #445161;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.3px;
    line-height: 26px;
    background: #f5f5f5;
}

